@font-face {
  font-family: ROKAArmy;
  src: url("./font/ROKAMedium.woff");
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: ROKAArmy;
}

main {
  width: 70%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.character {
  background-image: url("https://chanwookim.me/agumon-dday/agumon.png");
  background-size: contain;
  background-repeat: no-repeat;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.message {
  font-size: 50pt;
}
.clock {
  font-size: 30pt;
}

footer {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
}
